<div class="col-lg-4 offset-lg-4">
  <div class="mt-2">
    <mat-card-title>CONTINUE AS A STUDENT</mat-card-title>
  </div>
  <div class="mt-3">
    <a class="text-info" routerLink="/register" routerLinkActive="active">Not a student? Register as a teacher</a>
  </div>

  <form class="mt-3" #f="ngForm" [formGroup]="phoneForm">
    <div>
      <ngx-intl-tel-input
        [inputId]="'phoneNumberInput'"
        [cssClass]="'custom'"
        [preferredCountries]="preferredCountries"
        [enableAutoCountrySelect]="false"
        [enablePlaceholder]="true"
        [searchCountryFlag]="true"
        [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
        [selectFirstCountry]="false"
        [selectedCountryISO]="CountryISO.NewZealand"
        [maxLength]="15"
        [tooltipField]="TooltipLabel.Name"
        [phoneValidation]="true"
        [separateDialCode]="separateDialCode"
        name="phone" formControlName="phone">
      </ngx-intl-tel-input>
    </div>

    <div class="mt-4">
      <p class="mb-0 text-muted">Get OTP via...</p>
      <button [style.width.px]=256 class="btn btn-primary">SMS</button>
    </div>
  </form>
</div>
