<div class="container-fluid">
  <div class="row">

    <div class="col-md-3 bg-warning">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-md-12">
            <mat-card>
              <div mat-card-avatar style="background-image: url('../../../assets/images/guyStudent.jpg');" class="round-header-image">
              </div>
              <mat-card-content>
                <p>
                  Arabic name
                </p>
                <p>
                  Grade 9
                </p>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <mat-card>
              <mat-card-content><h3>Profile Completion</h3>
              <div class="row">
                <div class="col-7 col-sm-7 col-md-7">
                  <div class="mb-2"></div>
                  <mat-progress-bar mode="determinate" [value]="progressBarValue"></mat-progress-bar>
                </div>
                <div class="col-5 col-sm-5 col-md-5">
                  <p>{{progressBarValue}}</p>
                </div>
              </div>
              <button mat-mini-fab color="primary" label></button><a href="">Add your school ></a><br/><br/>
              <button mat-mini-fab color="primary" label></button><a href="">Join a group ></a>
            </mat-card-content>

            </mat-card>
          </div>
        </div>
      </div>

    </div>

    <div class="col-md-7 bg-success">

        <div class="container-fluid">
              <div class="row">
              <div class="col-md-2">
                <mat-card class="subject-card">
                  <mat-icon>exposure</mat-icon>
                  <mat-card-content><p style="text-align: center;">Math</p></mat-card-content>
                </mat-card>
              </div>
              <div class="col-md-2">
                <mat-card class="subject-card"><mat-icon aria-hidden="false" aria-label="Example group icon">language</mat-icon>
                  <mat-card-content><p style="text-align: center;">English</p></mat-card-content>
                </mat-card>
              </div>
              <div class="col-md-2">
                <mat-card class="subject-card"><mat-icon  aria-hidden="false" aria-label="Example group icon">science</mat-icon>
                  <mat-card-content><p style="text-align: center;">Science</p></mat-card-content>
                </mat-card>
              </div>
              <div class="col-md-2">
                <mat-card class="subject-card"><mat-icon  aria-hidden="false" aria-label="Example group icon">exposure_plus_2</mat-icon>
                  <mat-card-content><p style="text-align: center;">Qudratic Math</p></mat-card-content>
                </mat-card>
              </div>
              <div class="col-md-2">
                <mat-card class="subject-card"><mat-icon  aria-hidden="false" aria-label="Example group icon">translate</mat-icon>
                  <mat-card-content><p style="text-align: center;">Immortal Language</p></mat-card-content>
                </mat-card>
              </div>
              <div class="col-md-2">
                <mat-card class="subject-card"><mat-icon  aria-hidden="false" aria-label="Example group icon">groups</mat-icon>
                  <mat-card-content><p style="text-align: center;">Social</p></mat-card-content>
                </mat-card>
              </div>
            </div>


            <div class="row">
              <div class="col-md-12">
                <mat-card class="w-100 p-3">
                  <mat-card-title> <mat-icon class="float-sm-left float-md-left mr-2" aria-hidden="false" aria-label="Example group icon">settings_input_antenna</mat-icon> Live now </mat-card-title>
                  <div class="container-fluid">
                    <div class="row">
                      <div class = "col-md-6">
                        <mat-card>
                          <div class="container-fluid">
                             <div class="row mb-2">
                                <div class = "col-6 col-sm-6 col-md-6">
                                  <mat-icon class="float-sm-left float-md-left mr-2" aria-hidden="false" aria-label="Example group icon">groups</mat-icon>
                                  <p >Session</p>
                                </div>
                                <div class = "col-2 col-sm-2 col-md-2 ">

                                </div>
                                <div class = "col-4 col-sm-4 col-md-4">
                                  <p style= "text-align:center;">Live now</p>
                                </div>
                             </div>

                             <div class="row mb-2">

                                <div class = "col-8 col-sm-8 col-md-8">
                                  <div mat-card-avatar style="background-image: url('../../../assets/images/girlStudent.jpg');float: left;" class="round-header-image">
                                  </div>
                                  <mat-icon class="float-md-left" aria-hidden="false" aria-label="Example group icon">science</mat-icon>
                                  <p>Science</p>
                                </div>
                                <div class = "col-2 col-sm-2 col-md-2">

                                </div>
                                <div class = "col-2 col-sm-2 col-md-2">
                                </div>

                            </div>

                            <div class="row mb-2">

                              <div class = "col-5 col-sm-5 col-md-5">
                                <p> Duration</p>
                              </div>
                              <div class = "col-2 col-sm-2 col-md-2">
                              </div>
                              <div class = "col-5 col-sm-5 col-md-5">
                                <button mat-raised-button color="primary">JOIN SESSION</button>
                              </div>

                            </div>
                          </div>
                        </mat-card>
                      </div>
                      <div class = "col-md-6">
                        <mat-card>
                          <div class="container-fluid">
                             <div class="row mb-2">
                                <div class = "col-6 col-sm-6 col-md-6">
                                  <mat-icon class="float-sm-left float-md-left mr-2" aria-hidden="false" aria-label="Example group icon">groups</mat-icon>
                                  <p >Session</p>
                                </div>
                                <div class = "col-2 col-sm-2 col-md-2 ">

                                </div>
                                <div class = "col-4 col-sm-4 col-md-4">
                                  <p style= "text-align:center;">Live now</p>
                                </div>
                             </div>

                             <div class="row mb-2">

                                <div class = "col-8 col-sm-8 col-md-8">
                                  <div mat-card-avatar style="background-image: url('../../../assets/images/guyStudent.jpg');float: left;" class="round-header-image">
                                  </div>
                                  <mat-icon class="float-md-left" aria-hidden="false" aria-label="Example group icon">exposure</mat-icon>
                                  <p>Math</p>
                                </div>
                                <div class = "col-2 col-sm-2 col-md-2">

                                </div>
                                <div class = "col-2 col-sm-2 col-md-2">
                                </div>

                            </div>

                            <div class="row mb-2">

                              <div class = "col-5 col-sm-5 col-md-5">
                                <p> Duration</p>
                              </div>
                              <div class = "col-2 col-sm-2 col-md-2">
                              </div>
                              <div class = "col-5 col-sm-5 col-md-5">
                                <button mat-raised-button color="primary">JOIN SESSION</button>
                              </div>

                            </div>
                          </div>
                        </mat-card>
                      </div>
                    </div>
                  </div>

                </mat-card>
              </div>
            </div>

        </div>



     </div>

    <div class="col-md-2 bg-info">

    </div>

</div>
</div>

