<mat-toolbar color="primary">
  <mat-icon class="example-icon" aria-hidden="false" aria-label="Example person icon">person</mat-icon>
  <span>Teacher</span>

  <div class="smallVerticalSpacer"></div>

  <mat-icon class="example-icon" aria-hidden="false" aria-label="Example group icon">group</mat-icon>
  <span>Student</span>

  <div class="smallVerticalSpacer"></div>

  <div class="middle">
    <div class="verticalLine"></div>
    <div class="verticalLine" style="left: 1.2rem;"></div>
    <span id="header">Main Page</span>


  </div>

  <div class="right">
      <button  mat-raised-button color="primary">SIGN IN</button>
  </div>



</mat-toolbar>
