

    <nav class="navbar navbar-expand-md navbar-dark bg-transparent">


      <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/"><mat-icon class="example-icon" aria-hidden="false" aria-label="Example person icon">person</mat-icon>
              <span>Teacher</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/student"><mat-icon class="example-icon" aria-hidden="false" aria-label="Example group icon">group</mat-icon>
              <span>Student</span></a>
          </li>
        </ul>
      </div>
      <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" routerLink="/"><app-mainheader></app-mainheader></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
      <ul class="navbar-nav ml-auto">
          <li class="nav-item">
              <a class="nav-link" routerLink="/signin"> <button  mat-raised-button color="primary">SIGN IN</button></a>
          </li>

      </ul>
  </div>

    </nav>

