<div id="divPush"></div>
<footer class="container-fluid" id="backgroundColor">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Nano Bit 2019</span>
                </div>

                <div class="col-md-4">
                    <span class="copyright">
                    <table><tr><td align="left">E-mail</td></tr>
                    <tr> <td align="left">nanobittechnology@gmail.com </td></tr> </table>
                    </span><br/>
                </div>
                <div class="col-md-4">
                  <a routerLink="/admin"> Admin Login</a>
                  <a routerLink="/signin/teacher"> Teacher Login</a>
              </div>
            </div>
        </div>
    </footer>
