<table class="table table-sm table-stripped">
  <thead>
    <tr>
      <th>ID</th><th>Subject</th><th>Category</th><th>Description</th><th>Max Students</th><th>Start Time</th><th>End Time</th><th>Number of Days</th><th>Teacher Name</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let c of getClassRooms()">
      <td>{{c._id}}</td>
      <td>{{c.subject}}</td>
      <td>{{c.category}}</td>
      <td>{{c.description}}</td>
      <td>{{c.maxNumberStudents}}</td>
      <td>{{c.timeTable.startTime}}</td>
      <td>{{c.timeTable.endTime}}</td>
      <td>
        <span *ngFor="let day of c.timeTable.numberOfDaysAWeek">{{day}},</span>
      </td>
      <td>{{c.teacher.name}}</td>
      <td>
        <button class="btn btn-sm btn-warning m-1" [routerLink]="['/admin/main/classRooms/edit',c._id]">Edit</button>
        <button class="btn btn-sm btn-danger" (click)="deleteClassRoom(c.id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
<button class="btn btn-primary" routerLink="/admin/main/classRooms/create">
  Create New Class Room
</button>
