<table class="table table-sm table-stripped">
  <thead>
    <tr>
      <th>ID</th><th>Class Subject</th><th>Student Name</th><th>Admin Decision</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let sc of getStudentClassRooms()">
      <td>{{sc._id}}</td>
      <td>{{sc.classroom.subject}}</td>
      <td>{{sc.student.name}}</td>
      <td>{{sc.adminDecision}}</td>
      <td>
        <button class="btn btn-sm btn-danger" (click)="accept(sc._id)">Accept</button>
      </td>
      <td><button class="btn btn-sm btn-danger" (click)="reject(sc._id)">Reject</button></td>
    </tr>
  </tbody>
</table>
